/* utility */
[class*="col-"] {
  background-color: pink;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

[class*="col-"] .nested {
  background-color: red;
  height: 190px;
  border: 1px solid white;
  position: relative;
}

[class*="col-"] > p {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.padding_5 {
  padding: 5px;
}



/* /utility */
/* header */
/* /header */
/* main */
/* /main */
/* footer */

/* /footer */
