/* utility */
[class*="col-"] {
  background-color: pink;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

[class*="col-"] > p {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* /utility */
/* header */
/* /header */
/* main */
/* /main */
/* footer */

/* /footer */
